body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid rgb(37, 117, 23);
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: greenyellow;
    border-color: aliceblue;
}
